body {
    margin: 0;
    
}

.navbar{  
    background-color: #1F2937;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    min-width: 400px;
}
.navbar a {  
    color:white;
    text-decoration: none;
}

.links{
    display: flex;
    gap:24px;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
}