

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 800px;
}

.navbar,
.main{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 150px;
    flex:auto;
}

.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}
.navbar a {  
    text-decoration: none;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap:24px;
}

.header{
    font-size: 24px;
    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text p {
    font-size: 18px;
    color: #E5E7EB;
}
.text button{
    color: #F9FAF8;
    align-self: flex-start;
    background-color: #3882F6;
    border:none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 10px;
}
.main{
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    gap:40px;
    height:100vh;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}



.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height:100vh;
}

.information h4{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 0;
}
.cards{
    display: flex;
    gap:40px;
    justify-content: flex-start;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    color:#1F2937;
}

.square{
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    flex:1 auto 0 ;
}



.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 0px 150px;
    height:100vh;
}

.quoteText{
    display: flex;
    flex-direction: column;
    color:black;
}

.quoteText p{
    font-size: 36px;
    color: #1f2937

}

.quoteText .author{
    align-self: flex-end;
    font-weight: bold;
}



.callToAction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.signUp{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 30px;
    border-radius: 20px;
    
}
.signUp button{
    color: white;
    background-color: #3882F6;
    align-self: flex-start;
    border:solid white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 10px;
}