body {
    margin: 0;
}

.navbar,
.main{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 150px;
}

.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}
.navbar a {  
    text-decoration: none;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap:24px;
}

.header{
    font-size: 24px;
    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text p {
    font-size: 18px;
    color: #E5E7EB;
}
.text button{
    color: #F9FAF8;
    align-self: flex-start;
    background-color: #3882F6;
    border:none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 10px;
}
.main{
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    gap:40px;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}